@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
:root {
    --cinza-claro: #5a4f4f;
    --cinza-destaque: #2e2a2a;
    --branco-destaque: #fce8e8;
    --vermelho-destaque: #d10000;
    --preto: #000000;
    --texto: #000000;
    --texto-inverso: #ffffff;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
    background: url(../imagens/chales_backl.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
header{
    background-color: var(--vermelho-destaque);
    color: var(--texto-inverso);
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 100;
}
header nav#menu ul#partes-site {
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    justify-content: end;
    gap: 10px;
    list-style: none;
}
header nav#menu li {
    padding: 0px 12px;
    border-radius: 5px;
    transition: background-color 0.5s, color 0.5s;
}
header nav#menu li:hover {
    background-color: var(--branco-destaque);
    color: var(--vermelho-destaque);
    cursor: pointer;
}
article#ficha div.img {
    display: flex;
    justify-content: center;
    padding: 10px;
    overflow: hidden;
    object-fit: cover;
}
article#ficha div.img img {
    display: block;
    width: 40%;
    height: 100%;
    margin-top: 20px;
    border-radius: 10px;
    border: 2px solid var(--branco-destaque);
    outline: 4px solid var(--vermelho-destaque);
}
article#ficha div.redes-sociais{
    display: flex;
    padding: 5px;
    width: 150px;
    border: 4px solid var(--vermelho-destaque);
    border-radius: 10px;
    list-style: none;
    background-color: var(--branco-destaque);
    color: var(--vermelho-destaque);
    margin: auto;
    margin-bottom: 10px;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-content: center;
}
article#ficha div.redes-sociais a {
    color: var(--vermelho-destaque);
}
article#ficha div.redes-sociais a:hover {
    color: rgb(255, 32, 32);
}
article#ficha div.text-ficha h2 {
    font-family: "Sekuya", system-ui;
    font-size: 2.1em;
    font-weight: bold;
    line-height: 1.1em;
    background-color: rgba(90, 79, 79, 0.65);
    color: var(--texto-inverso);
    border-radius: 8px;
    text-align: center; 
    margin: 0px 20px;
    padding: 20px 5px;
}
article#ficha div.text-ficha p {
    font-family: 'Times New Roman', Times, serif;
    padding: 15px;
    margin: 15px 10px 10px ;
    border-radius: 10px;
    background-color: rgba(73, 65, 65, 0.65);
    color: var(--texto-inverso);
    text-align: justify;
    line-height: 1.4em;
    font-size: larger;
    font: bold;
}
article#lutas h2 {
    color: var(--texto-inverso);
    background-color: #c50000ea;
    text-align: center;
    margin: 10px 40px 10px 40px;
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.6em;
    border-radius: 10px;
    border: 2px solid var(--branco-destaque);

}
article#lutas div.luta1 {
    height: 350px;
    background-color: var(--vermelho-destaque);
    color: var(--texto-inverso);
    border: 2px solid var(--branco-destaque);
    margin: 0px 20px 10px 20px;
    border-radius: 15px;
    padding: 10px;
}
article#lutas div.luta1 h3 {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.4em;
    font-weight: bold;
    padding: 10px;
    margin-bottom: 5px;
}
article#lutas div.luta1 iframe {
    width: 100%;
    height: 270px;
    overflow: hidden;
    border-radius: 15px;
}
article#especificacoes div.fisic {
    background-color: var(--cinza-claro);
    padding: 10px;
    margin: 15px;
    border-radius: 20px;
}
article#especificacoes div.fisic h3 {
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4em;
    font-weight: bold;;
    color: var(--texto-inverso);
    text-align: center;
}
article#especificacoes div.fisic li.inf-d {
    border: 5px solid var(--branco-destaque);
    background-color: var(--branco-destaque);
    list-style-position: inside;
    border-radius: 10px;
    padding: 8px 8px 8px 10px;
    margin: 5px;
    margin-bottom: 10px;
    color: var(--cinza-claro);
    font-weight: normal;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}
article#especificacoes div.carreira {
    background-color: var(--vermelho-destaque);
    padding: 10px;
    margin: 15px;
    border-radius: 20px;
}
article#especificacoes div.carreira h3 {
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4em;
    font-weight: bold;;
    color: var(--texto-inverso);
    text-align: center;
}
article#especificacoes div.carreira li.inf-c {
    list-style-position: inside;
    background-color: var(--branco-destaque);
    border: 5px solid var(--branco-destaque);
    color: var(--vermelho-destaque);
    padding: 8px 8px 8px 10px;
    border-radius: 10px;
    margin: 5px;
    margin-bottom: 10px;
    font-weight: normal;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}
article#especificacoes div.recorde {
    background-color: var(--cinza-destaque);
    padding: 10px;
    margin: 15px;
    border-radius: 20px;
}
article#especificacoes div.recorde h3 {
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4em;
    font-weight: bold;;
    color: var(--texto-inverso);
    text-align: center;
}
article#especificacoes div.recorde li.inf-r {
    list-style-position: inside;
    background-color: var(--branco-destaque);
    border: 5px solid var(--branco-destaque);
    color: var(--cinza-destaque);
    padding: 8px 8px 8px 10px;
    border-radius: 10px;
    margin: 5px;
    margin-bottom: 10px;
    font-weight: normal;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}
article#titulos h2 {
    border: 2px solid var(--branco-destaque);
    background-color: #2e2a2ae5;
    color: var(--texto-inverso);
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6em;
    font-weight: bold;
    margin: 0px 80px 0px 80px;
    text-align: center;
    border-radius: 10px;
}
article#titulos div.desc-tit {
    background-color: var(--vermelho-destaque);
    color: var(--texto-inverso);
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
}
article#titulos div.desc-tit img {
    width: 100%;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: cover;
}
article#titulos div.desc-tit p.t-tit {
    background-color: var(--cinza-claro);
    color: var(--texto-inverso);
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-family: 1.4em;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
    margin: 10px 35px 15px 35px;
}
article#titulos div.desc-tit p {
    background-color: var(--branco-destaque);
    color: var(--preto);
    border-radius: 10px;
    padding: 8px;
    text-overflow: clip;
    margin: 5px 20px 5px 20px;
    text-align: justify;
    font-size: 1.1em;
    font-family: Arial, Helvetica, sans-serif;
}
footer {
    background-color: var(--cinza-destaque);
    color: var(--texto-inverso);
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 15px;
}
footer a {
    text-decoration: none;
    font-weight: bold;
    color: var(--texto-inverso)
} 
footer a:hover {
    color: var(--cinza-claro);
}

