@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
:root {
    --cinza-claro: #5a4f4f;
    --cinza-destaque: #2e2a2a;
    --branco-destaque: #fce8e8;
    --vermelho-destaque: #d10000;
    --preto: #000000;
    --texto: #000000;
    --texto-inverso: #ffffff;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
    background: url(../imagens/chales_backl.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
header{
    background-color: var(--vermelho-destaque);
    color: var(--texto-inverso);
    padding: 10px;
}
header nav#menu {
    
}
header nav#menu ul#partes-site {
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    justify-content: end;
    gap: 10px;
    list-style: none;
}
header nav#menu li {
    padding: 0px 12px;
    border-radius: 5px;
    transition: background-color 0.5s, color 0.5s;
}
header nav#menu li:hover {
    background-color: var(--branco-destaque);
    color: var(--vermelho-destaque);
    cursor: pointer;
}
article#ficha div.img {
    display: flex;
    justify-content: center;
    padding: 10px;
    overflow: hidden;
    object-fit: cover;
}
article#ficha div.img img {
    display: block;
    width: 40%;
    height: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 2px solid var(--branco-destaque);
    outline: 4px solid var(--vermelho-destaque);
}
article#ficha div.text-ficha {
    
}
article#ficha div.text-ficha h2 {
    font-family: "Sekuya", system-ui;
    font-size: 2.1em;
    font-weight: bold;
    line-height: 1.1em;
    background-color: rgba(90, 79, 79, 0.65);
    color: var(--texto-inverso);
    border-radius: 8px;
    text-align: center; 
    margin: 0px 20px;
    padding: 20px 5px;
}
article#ficha div.text-ficha p {
    font-family: 'Times New Roman', Times, serif;
    padding: 15px;
    margin: 15px 10px 10px ;
    border-radius: 10px;
    background-color: rgba(73, 65, 65, 0.65);
    color: var(--texto-inverso);
    line-height: 1.4em;
    font-size: larger;
    font: bold;
}
article#lutas h2 {
    color: var(--texto-inverso);
    background-color: #c50000ea;
    text-align: center;
    margin: 10px 40px 10px 40px;
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.6em;
    border-radius: 10px;
    border: 2px solid var(--branco-destaque);

}
article#lutas div.luta1 {
    background-color: var(--vermelho-destaque);
    color: var(--texto-inverso);
    border: 2px solid var(--branco-destaque);
    margin: 0px 20px 10px 20px;
    border-radius: 15px;
    padding: 10px;
}
article#lutas div.luta1 h3 {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: 5px;
}
article#lutas div.luta1 video {
    width: 100%;
    height: 315px;
    overflow: hidden;
    border-radius: 15px;
}